<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Mahjong2"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".YakuActivity"
            android:label="役のページ"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".FuCalcActivity"
            android:label="符計算ページ1役用"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".FuCalc2Activity"
            android:label="符計算ページ2役用"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".FuCalc3Activity"
            android:label="符計算ページ3役用"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".FuCalc4Activity"
            android:label="符計算ページ4役用"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ScoreTableActivity"
            android:label="1役30符点数ページ"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Score140Activity"
            android:label="1役40符点数ページ"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Score150Activity"
            android:label="1役50符点数ページ"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Score160Activity"
            android:label="1役60符点数ページ"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Score170Activity"
            android:label="1役70符点数ページ"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Score180Activity"
            android:label="1役80符点数ページ"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Score190Activity"
            android:label="1役90符点数ページ"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Score1100Activity"
            android:label="1役100符点数ページ"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Score1110Activity"
            android:label="1役110符点数ページ"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Score220Activity"
            android:label="2役20符点数ページ"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Score225Activity"
            android:label="2役25符点数ページ"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Score230Activity"
            android:label="2役30符点数ページ"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Score240Activity"
            android:label="2役40符点数ページ"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Score250Activity"
            android:label="2役50符点数ページ"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Score260Activity"
            android:label="2役60符点数ページ"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Score270Activity"
            android:label="2役70符点数ページ"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Score280Activity"
            android:label="2役80符点数ページ"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Score290Activity"
            android:label="2役90符点数ページ"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Score2100Activity"
            android:label="2役100符点数ページ"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Score2110Activity"
            android:label="2役110符点数ページ"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Score320Activity"
            android:label="3役20符点数ページ"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Score325Activity"
            android:label="3役20符点数ページ"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Score330Activity"
            android:label="3役30符点数ページ"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Score340Activity"
            android:label="3役40符点数ページ"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Score350Activity"
            android:label="3役50符点数ページ"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Score360Activity"
            android:label="3役60符点数ページ"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Score420Activity"
            android:label="4役20符点数ページ"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Score425Activity"
            android:label="4役25符点数ページ"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Score430Activity"
            android:label="4役30符点数ページ"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ScoreManganActivity"
            android:label="満貫点数ページ"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ScoreHanemanActivity"
            android:label="跳満点数ページ"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ScoreBaimanActivity"
            android:label="倍満点数ページ"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ScoreSanbaiActivity"
            android:label="三倍満点数ページ"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ScoreYakumanActivity"
            android:label="役満点数ページ"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".PrivacyPolicyActivity"
            android:label="プライバシーポリシーページ"
            android:screenOrientation="portrait"/>
    </application>

</manifest>